<!DOCTYPE html>
<html>

<head>
    <title>{{ category }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">

</head>

<body>
    <!-- <div class="container">
        <button onclick="window.location.href='/pokedex'">Back</button>
        <h1>{{ category }}</h1>
        <ul class="cards">
            {% for word, translation in words.items() %}
                    <div class="card-content-discovered">
                        <a href="#" class="{% if word in seen_words %}seen{% endif %}" id="word">{{ word }} - {{ translation }}</a>
                    </div>
            {% endfor %}
        </ul>      
        <ul class="cards">
            {% for word, translation in words.items() %}
                <li class="card {% if word not in seen_words %}blur{% endif %}">
                    <div class="card-content">
                        <a href="#" class="{% if word in seen_words %}seen{% endif %}">{{ word }} - {{ translation }}</a>
                    </div>
                    {% if word not in seen_words %}
                    <img src="{{ url_for('static', filename='gallery/lock.png') }}" alt="logo" class="blur-overlay">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div> -->
    <div class="container">
        <button onclick="window.location.href='/pokedex'"class="button">Back</button>
        <h1>{{ category }}</h1>

        <ul class="cards">
            {% for word, translation in words.items() %}
            {% if word in seen_words %}
            <div class="card-content-discovered">
                <a href="#" class="seen" id="word">{{ word }} - {{ translation }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </ul>   

        <ul class="cards">
            {% for word, translation in words.items() %}
            {% if word not in seen_words %}
            <li class="card">
                <div class="card-content">
                    <a href="#" class="seen">{{ word }} - {{ translation }}</a>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>

</html>