<!DOCTYPE html>
<html>
<head>
    <title>Live Camera Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        #camera-page, #pokedex-page {
            display: none;
        }
        #new-word-unlocked {
            color: red;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='gallery/NZSL.png') }}" alt="logo">
    <div id="home-page">
        <h1>Welcome to the Live Camera Feed</h1>
        <div class="button-container">
        <!-- <button id="start-camera" class="button">Start Camera</button><br> -->
        <button onclick="window.location.href='/video'" class="button" id="start-camera">Start Camera</button><br>
        <button onclick="window.location.href='/pokedex'" class="button">Pokedex</button>
        </div>
    </div>
    <div id="camera-page">
        <button id="back-button" class="button">Back</button>
        <h1>Live Camera Feed</h1>
        <video id="video" width="640" height="480" autoplay></video>
        <div id="result"></div>
        <div id="translated-result"></div>
        <div id="new-word-unlocked"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
    <script>
        const startCameraButton = document.getElementById('start-camera');
        const backButton = document.getElementById('back-button');
        const homePage = document.getElementById('home-page');
        const cameraPage = document.getElementById('camera-page');
        const video = document.getElementById('video');
        const resultDiv = document.getElementById('result');
        const translatedResultDiv = document.getElementById('translated-result');
        const newWordUnlockedDiv = document.getElementById('new-word-unlocked');
        let camera;
        let currentWord = '';


        startCameraButton.addEventListener('click', () => {
            homePage.style.display = 'none';
            cameraPage.style.display = 'block';
            video.style.display = 'block';
            camera = new Camera(video, {
                onFrame: async () => {
                    await hands.send({image: video});
                },
                width: 640,
                height: 480
            });

            camera.start();
        });

        backButton.addEventListener('click', () => {
            camera.stop();
            homePage.style.display = 'block';
            cameraPage.style.display = 'none';
            video.style.display = 'none';
        });

        function onResults(results) {
            if (results.multiHandLandmarks && results.multiHandLandmarks.length > 0) {
                captureImage();
            }
        }

        function captureImage() {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const dataUrl = canvas.toDataURL('image/png');

            fetch('/upload', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `image=${encodeURIComponent(dataUrl)}`
            })
            .then(response => response.json())
            .then(data => {
                if (currentWord !== data.word) {
                    currentWord = data.word;
                    resultDiv.innerText = `Detected word: ${data.word}`;
                    translatedResultDiv.innerText = `Translated to Maori: ${data.translated_word}`;
                    if (data.new_word_unlocked) {
                        newWordUnlockedDiv.innerText = "New Word Unlocked";
                    } else {
                        newWordUnlockedDiv.innerText = "";
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
