<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gesture Recognition</title>
</head>

<body>
    <div id="video">
        <img src="{{ url_for('video_feed') }}" alt="Webcam Feed">
    </div>
    <div id="output"></div>
    <button onclick="window.location.href='/'" class="button">Back</button>
    <script>
        const outputDiv = document.getElementById('output');
        function updateGesture() {
            fetch('/get_gesture')
                .then(response => response.json())
                .then(data => {
                    console.log(data.gesture);
                    outputDiv.innerHTML = 'Predicted Gesture: ' + data.gesture;
                })
                .catch(error => console.error('Error:', error));
        }
        setInterval(updateGesture, 100);
    </script>
</body>

</html>