<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gesture Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div id="loading">Loading...</div>
    <div id="video" style="display:none;">
        <img src="{{ url_for('video_feed') }}" alt="Webcam Feed" onload="hideLoadingSymbol()">
    </div>
    <div id="output"></div>
    <button onclick="window.location.href='/'" class="button">Back</button>
    <script>
        const outputDiv = document.getElementById('output');
        function updateGesture() {
            fetch('/get_gesture')
                .then(response => response.json())
                .then(data => {
                    console.log(data.gesture);
                    outputDiv.innerHTML = 'Predicted Gesture: ' + data.gesture;
                })
                .catch(error => console.error('Error:', error));
        }
        setInterval(updateGesture, 100);

        function hideLoadingSymbol() {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('video').style.display = 'block';
        }
    </script>
</body>

</html>