<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gesture Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div id="loading"></div>
    <div id="video" style="display:none;">
        <img src="{{ url_for('video_feed') }}" alt="Webcam Feed" class="video-feed" onload="hideLoadingSymbol()">
        <div class="button-container">
            <button id="back-button" class="button">Back</button>
            <div id="output">Waiting for gesture...</div>
        </div>
    </div>

    <script>
        const backButton = document.getElementById('back-button');
        const outputDiv = document.getElementById('output');

        backButton.addEventListener('click', () => {
            window.location.href = '/';
        });

        function updateGesture() {
            fetch('/get_gesture')
                .then(response => response.json())
                .then(data => {
                    outputDiv.innerHTML = 'Predicted Gesture: ' + data.gesture;
                })
                .catch(error => console.error('Error:', error));
        }
        setInterval(updateGesture, 100);

        function hideLoadingSymbol() {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('video').style.display = 'block';
        }
    </script>
</body>

</html>