h1 {
    margin-bottom: 20px;
    color: #3A6552;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 40px;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.seen {
    color: green;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 20px); /* Responsive: 2 cards per row */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
}
.card:hover {
    transform: translateY(-10px);
}

.card-content {
    text-align: center;
    z-index: 1;
}
.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.card a.seen {
    color: green;
}
.card.blur .card-content {
    filter: blur(5px);
}
.blur-overlay {
    width: 50px;
    height: auto;
    align-items: center;
}

.card-content-discovered {
    background-color: #3A6552;
    padding: 300px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 20px); /* Responsive: 2 cards per row */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
}


a{
text-decoration: none;
color: white;
}
