body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFD5;

}


.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    background: #3A6552;
    background-image: linear-gradient(to right, #3A6552, #0ba360, #3cba92, #30dd8a);
    color: #fff;
    border: none;
    cursor: pointer;
    background-size: 400%;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 200px;
}


.container {
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container::-webkit-scrollbar {
    display: none;
}

.seen {
    color: green;
}

.category {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.category li {
    width: 80%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.category a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border: 2px solid #000;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}

.category a:hover {
    background-color: #f0f0f0;
}

.category a.seen {
    border-color: green;
    color: green;
}


.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  
@media (min-width: 500px) {
    .container {
        max-height: 600px;
    }
}
