@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #EDEFD5;
}

p {
    color: #3A6552;
}

#output, #hold, #translation {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #3A6552;
}

/* CSS for message container */
#message-container {
    position: fixed;
    top: -100px; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    background-color: #00a2ff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease; /* Smooth transition effect */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CSS for message content */
#message-content {
    font-family: 'Poppins', sans-serif;
    color: #fff; 
}

/* Animation for slide-in effect */
.slide-in {
    top: 20px; /* Adjust position where it should slide in */
}

img {
    width: 200px;
    height: auto;
}

h1 {
    margin-bottom: 20px;
    color: #3A6552;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 35px;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#video .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.video-feed {
    width: 350px;
    height: auto;
    border-radius: 15px;
}

.home-text {
    text-align: center;
    margin: 3px auto; 
    max-width: 600px;
}

#output {
    margin-top: 20px;
}

#hold {
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    overflow: hidden;
    height: 5rem;
    padding: 0 3rem;
    background: #3A6552;
    background-image: linear-gradient(to right, #3A6552, #0ba360, #3cba92, #30dd8a);
    color: #fff;
    border: none;
    cursor: pointer;
    background-size: 400%;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 200px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-position: right;
    transform: scale(1.05);
}

.button-description {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3A6552;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#result,
#translated-result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}


/* Add the styles for the signdex-button */
.signdex-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #3A6552;
    background-image: linear-gradient(to right, #3A6552, #0ba360, #3cba92, #30dd8a);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.signdex-button:hover {
    background-color: #3cba92;
}

.video-feed {
    width: 100%;
    max-width: 800px; /* Set a max-width to keep it responsive */
    height: auto;
    border-radius: 15px;
}
